<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <style> /* set the CSS */

  body { font: 12px Arial;}

  path {
      stroke: steelblue;
      stroke-width: 2;
      fill: none;
  }

  .axis path,
  .axis line {
      fill: none;
      stroke: grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
  }

  </style>

  <!-- load the d3.js library -->
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>

  <div id="ex1">
    {{ message }}
  </div>

  <div id="ex2">
    <span v-bind:title="message">
      Hover you mouse over me for a few seconds to see my dynamically bound title!
    </span>
  </div>

  <div id="ex3">
    <span v-if="seen">Now you see me</span>
  </div>

  <div id="ex4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>

  <div id="ex5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse it!</button>
  </div>

  <div id="ex6">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>

  <div id="ex7">
    <ol>
      <todo-item
        v-for='item in groceryList'
        v-bind:todo='item'
        v-bind:key='item.id'
      ></todo-item>
    </ol>
  </div>

  <div id="constplot">
    
  </div>

  <script>

    // Vue.js stuff here
    var app = new Vue({
      el: '#ex1',
      data: {
        message: 'Hello Vue!'
      }
    })

    var app2 = new Vue({
      el: '#ex2',
      data: {
        message: 'You loaded this page on ' + new Date().toLocaleString()
      }
    })

    var app3 = new Vue({
      el: '#ex3',
      data: {
        seen: true
      }
    })

    var app4 = new Vue({
      el: '#ex4',
      data: {
        todos: [
          { text: 'git gud' },
          { text: 'git rich' },
          { text: 'git rekt' },
        ]
      }
    })

    var app5 = new Vue({
      el: '#ex5',
      data: {
        message: 'Wat up yo'
      },
      methods: {
        reverseMessage: function() {
          this.message = this.message.split('').reverse().join('')
        }
      }
    })

    var app6 = new Vue({
      el: '#ex6',
      data: {
        message: 'Hey wuuut'
      },
    })

    Vue.component('todo-item', {
      props: ['todo'],
      template: '<li>{{ todo.text }}</li>'
    })

    var app7 = new Vue({
      el: '#ex7',
      data: {
        groceryList: [
          { id: 0, text: 'Broccoli' },
          { id: 1, text: 'Soy Sauce' },
          { id: 2, text: 'Chicken' },
        ]
      }
    })

    function gen_data(N) {
      var data_arr = [];
      for (var i = 0; i < N; i++) {
        data_arr.push([1.0 - 2.0 * Math.random(), 1.0 - 2.0 * Math.random()]);
      }
      return data_arr;
    }

    var app8 = new Vue({
      el: '#constplot',
      data: {
        symbols: gen_data(256)
      },
      mounted: function() {

        // Set the dimensions of the canvas / graph
        var margin = {top: 30, right: 20, bottom: 30, left: 50};
        var width = 400 - margin.left - margin.right;
        var height = 400 - margin.top - margin.bottom;

        // Set the ranges
        var x = d3.scale.linear().range([0, width]);
        var y = d3.scale.linear().range([height, 0]);

        // Define the axes
        var xAxis = d3.svg.axis().scale(x)
          .orient("bottom").ticks(5);

        var yAxis = d3.svg.axis().scale(y)
          .orient("left").ticks(5);

        // Adds the svg canvas
        var svg = d3.select("body")
          .append("svg")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
          .append("g")
              .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");

        this.symbols.forEach(function(pt) {
            svg.append("circle")
               .attr("cx", width * ((pt[0] - 1.0) / -2.0))
               .attr("cy", height * ((pt[1] - 1.0) / -2.0))
               .attr("r", 2);
        });

        // Scale the range of the data
        x.domain([-1, 1]);
        y.domain([-1, 1]);

        // Add the X Axis
        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height/2 + ")")
            .call(xAxis);

        // Add the Y Axis
        svg.append("g")
            .attr("class", "y axis")
            .attr("transform", "translate(" + width/2 + ", 0)")
            .call(yAxis);
              this.symbols = this.message.split('').reverse().join('')
      }
    })

  </script>
</body>
